{% extends 'template.html' %}

{% block title %}
home
{% endblock %}

{% block content %}
<div class="main-body">
    <div class="slogan">
        <h1>Recipe management made easier!</h1>
    </div>
    
    <div class="search-bar">
        <label for="search"></label>
        <input type="search" placeholder="  Search for a recipe..." id="search" >
    </div>
</div>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js"></script>
    <title>Document</title>
</head>
<body>
    

    <div class="container-main">
        
        <div class="navbar">
            <a href= "{{ url_for('recipes') }}">Recipes</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>

        </div>

        <div class="main-body">
            <div class="slogan">
                <h1>Recipe management made easier!</h1>
            </div>
            
            <div class="search-bar">
                <label for="search"></label>
                <input type="search" placeholder="  Search for a recipe..." id="search" >
            </div>
            
        </div>
        
    </div>
    <h1 class="top-left-corner">Goose's Recipes!</h1>
</body>
</html> -->