{% extends 'template.html' %}

{% block title %}
recipes
{% endblock %}

{% block content %}
<div id="container-main">
    <div id="recipe-name">
        <input type="text" id="recipe-name-input" placeholder="Recipe name here">
        <button onclick="addName()">Add</button>
    </div>
    
    <!-- 2 SELECTS AND ONE INPUT TO ADD INGREDIENTS-->
    <div id="input-container">

        <select id="amount">
            <option>1/4</option>
            <option>1/3</option>
            <option>1/2</option>
            <option>1</option>
            <option>1.5</option>
            <option>2</option>
            <option>3</option>
        </select>

        <!-- <select id="amount">
            <option>1/4</option>
            <option>1/3</option>
            <option>1/2</option>
            <option>1</option>
            <option>1.5</option>
            <option>2</option>
            <option>3</option>
        </select> -->
    
        <select id="unit-of-mes">
            <option>tsp</option>
            <option>tbsp</option>
            <option>cup</option>
            <option>oz</option>
        </select>

        <input type="text" id="ingredients-input" placeholder="Enter ingredient...">
        <button onclick="addIngredient()">Add</button>
    
        <!-- EACH INGREDIENT GETS APPENDED HERE -->
        <ul id="ingredients-list">
    
        </ul>
    </div>

    <!-- DISPLAYS NAME OF RECIPE-->
    <div id="name-container">
        <h3 id="name-of-recipe"></h3>

    </div>

    <!-- DISPLAYS LIST OF INGREDIENTS -->
    <div id="ingredients-container">
        <ul id="ingredients-list-display">
    
        </ul>
    </div>

    <!-- INSTRUCTIONS -->
    <div id="instruction-input-container">
        <input type="text" id="instructions-input" placeholder="Enter new instruction...">
        <button onclick="addInstruction()">Add</button>
    </div>

    <!-- DISPLAYS INSTRUCTIONS -->
    <div id="instructions-constainer">
        <ol id="instructions-list-display">

        </ol>
    </div>

    <div id="back-button">
        <a href="{{ url_for('home') }}">Back</a>
    </div>
</div>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/recipes.css">
    <script src="/static/recipe.js"></script>
</head>
<body>

    <div id="container-main">
        <div id="input-container">
            <select id="amount">
                <option>1/4</option>
                <option>1/3</option>
                <option>1/2</option>
                <option>1</option>
                <option>1.5</option>
                <option>2</option>
                <option>3</option>
            </select>
        
            <select id="unit_of_mes">
                <option>tsp</option>
                <option>tbsp</option>
                <option>cup</option>
                <option>oz</option>
            </select>
            <input type="text" id="ingredients-input" placeholder="Enter ingredient...">
            <button onclick="addIngredient()">Add</button>
        
            <ul id="ingredients-list">
        
            </ul>
        </div>


        <div id="ingredients-container">
            <ul id="ingredients-list-display">
        
            </ul>
        </div>

        <div id="back-button">
            <a href="{{ url_for('home') }}">Back</a>
        </div>
    </div>

</body>
</html> -->